.skills-main-div {
  display: flex;
  overflow: hidden;
}

.skills-header {
  font-size: 3.75rem;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 1.25rem;
}

.skills-text-div {
  margin-left: 3.125rem;
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 1.875rem;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 6.25rem;
}

.skills-heading {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 2rem;
  }
  .skills-header {
    font-size: 2.8rem;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 1.875rem;
    text-align: center;
  }
  .skills-header {
    font-size: 1.875rem;
  }
  .greeting-text-p {
    font-size: 1rem;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 1.25rem;
  }
  .skills-text {
    font-size: 1rem;
  }
  .skills-text-subtitle {
    font-size: 1rem;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
