.organizations-header {
  font-size: 2.5rem;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

@media (max-width: 1380px) {
  .organizations-header {
    font-size: 2.1875rem;
  }
}

@media (max-width: 768px) {
  .organizations-header {
    font-size: 1.5625rem;
  }
}
