.os-charts-header {
  font-size: 2.5rem;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.os-charts-body-div {
  text-align: center;
  display: flex;
  flex-direction: row;
  /* table-layout: fixed; */
  width: 100%;
}
/* 
.tb-item {
    display: table-cell;
} */

@media (max-width: 1380px) {
  .os-charts-header {
    font-size: 2.1875rem;
  }
}

@media (max-width: 768px) {
  .os-charts-header {
    font-size: 1.5625rem;
  }

  .os-charts-body-div {
    flex-direction: column;
  }
}
