.pull-requests-header-div {
  margin-top: 6.25rem;
}

.pull-requests-header {
  font-size: 2.5rem;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.pull-request-body-div {
  text-align: center;
  width: 100%;
}

@media (max-width: 1380px) {
  .pull-requests-header {
    font-size: 2.1875rem;
  }
}

@media (max-width: 768px) {
  .pull-requests-header-div {
    margin-top: 2.5rem;
  }

  .pull-requests-header {
    font-size: 1.5625rem;
  }
}
