.educations-header {
  font-size: 2.5rem;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

@media (max-width: 1380px) {
  .educations-header {
    font-size: 2.1875rem;
  }
}

@media (max-width: 768px) {
  .educations-header {
    font-size: 1.875rem;
  }
}
