.main {
  width: 90%;
  padding: 1.25rem 0.625rem;
  margin: 0px auto;
  margin-top: 4rem;
  /* Remove this if you want the content to stretch to the end of the website */
  max-width: 70rem;
}

#greeting {
  /* Remove this if you want the content to stretch to the end of the website */
  max-width: 70rem;
}

.greet-main {
  width: 90%;
  padding: 1.25rem 0.625rem;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 1.25rem 0.625rem;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 1.875rem;
}
.button-greeting-div {
  display: flex;
  margin-top: 1.25rem;
}

.greeting-text {
  margin-top: 5rem;
  font-size: 4.375rem;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 1.875rem;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-right: 2rem;
  font-family: "Google Sans Medium";
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 3.125rem;
  }
  .greeting-text-p {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 1.875rem;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 1.3rem;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 1rem;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
