.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 2.5rem;
  text-align: left;
}

.competitive-sites-inline {
  display: inline-block;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: "Google Sans Regular";
}

.competitive-sites-inline > i {
  color: #868e96;
}

.competitive-sites-inline > i:hover {
  color: #645beb;
}
