.dev-icons-orgs {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 3.125rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  text-align: center;
}

.organizations-img {
  width: 6.25rem;
  height: auto;
}

.organizations-inline {
  display: inline-block;
  margin-right: 3.125rem;
  margin-bottom: 3.125rem;
  /* border: 1px solid #000000; */
  font-family: "Google Sans Regular";
}

.organizations-inline:hover {
  -moz-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {
  .organizations-img {
    width: 3.75rem;
  }

  .dev-icons-orgs {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .organizations-inline {
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
  }
}
