.issue-chart {
  width: 100%;
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.issue-chart-header {
  font-family: "Google Sans Regular";
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {
  .issue-chart-header {
    font-size: 1.25rem;
  }
}
