.achievement-heading {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 3.125rem;
}
.card-image {
  height: 15.625rem;
  width: 15.625rem;
}

.card-title {
  color: black;
  font-size: 1.875rem;
  margin: 0px;
  font-weight: 400;
  line-height: normal;
}

.card-subtitle {
  color: #868e96;
  font-size: 1.25rem;
}

.certificate-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.625rem 1.875rem -0.9375rem;
  padding: 1.5rem;
  border-radius: 0.625rem;
  border: 1px solid rgba(211, 211, 211, 0.397);
}

.certificate-detail-div {
  text-align: center;
}

.certificate-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1.25rem 1.875rem -0.625rem;
}
.certificate-image-div {
  text-align: center;
}
.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1rem 1rem;
}
.certificate-card-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.certificate-card-footer > p {
  color: #333333;
  cursor: pointer;
  margin-right: 0.625rem;
  text-align: center;
}
.certificate-card-footer > p:hover {
  color: #868e96;
}
/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 1.875rem;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 1rem;
    line-height: normal;
    text-align: center;
  }
}
