#educations {
  padding: 0;
}

.education-main {
  width: 100%;
}

.basic-education {
  margin-left: 5%;
  margin-right: 5%;
}

.heading-div {
  display: flex;
}

.heading-div > * {
  flex: 1;
}

.heading-img-div {
  align-items: center;
  justify-content: center;
}

.heading-text-div {
  text-align: center;
}

.heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.heading-text {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 6.25rem;
}

.heading-sub-text {
  font-size: 1.875rem;
  font-family: "Google Sans Regular";
  text-align: center;
}

@media (max-width: 1380px) {
  .heading-text {
    font-size: 3.125rem;
    margin-top: 5rem;
  }
  .heading-sub-text {
    font-size: 1.5625rem;
  }
}

@media (max-width: 768px) {
  .heading-text {
    font-size: 1.875rem;
    margin-top: 1.25rem;
  }

  .heading-sub-text {
    font-size: 1.25rem;
  }

  .heading-div {
    flex-direction: column;
  }
}
